*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.logo{
    padding: 20px;
    position: relative;
}
.logo::after{
    content: "☃️";
    position: absolute;
    top: -1%;
    left: 0%;
    rotate: -20deg ;
    

}

body{
    color: rgb(255, 255, 255);
    background: rgb(21, 222, 222);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    line-height: 1.5;

}
.gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    
}


.snow{
    
    position:absolute;
    border-radius: 20px;
    animation: snow 10s linear infinite;
}

@keyframes snow {
   
    to{
        top: 100%;
    }
    
}
.sanda{
     z-index: -2;
}
header{
    display: flex;
    justify-content: space-between;
    z-index: 999;
    padding: 0 2rem;
    align-items: center;
}
nav{
    
    justify-content: center;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    z-index: 99999;
}
.layer-blur{
    position: absolute;
    top: 50%;
    left:40%;
    rotate: -30deg;
    animation: sha 5s linear infinite;
    box-shadow: 0 0 600px 15px rgb(95, 240, 11);
    width: 40rem;
    height: 0;
    z-index: -3234234288;
    
}
@keyframes sha {
    20%{
        box-shadow: 0 0 500px 100px rgb(9, 124, 255);
    }
    40%{
        box-shadow: 0 0 500px 100px rgb(255, 64, 1);
    }
    60%{
        box-shadow: 0 0 500px 100px rgb(209, 232, 7);
    }
    80%{
                box-shadow: 0 0 500px 100px rgb(47, 4, 240);
    }
}
header h1{
    font-size: 2rem ;
    
}
.container{
 position: relative;
 width: 100%;
 margin: 0 auto;
 padding: 0 2rem;
 overflow: hidden;

}
nav > a{
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s background-color ease;
    cursor: pointer;
    transform: all 2s;
}

nav a:hover{
    color: #897e7e;
}
.btn-signing{
    position: relative;
     height: 2.5rem;
     width: 4rem;
     border: none;
     margin: 0.5rem;
     font-weight: 600;
     margin: 0 1rem;
     border-radius: 20px;
     padding: 0.5rem;
     cursor: pointer;
     transition: 2s background-color ease ;
}
.btn-signing:hover{
    color: red;
    box-shadow: 0 0 10px 1px rgb(187, 165, 165);
    

}



.htoo{
    margin-top: 3rem;
position: relative;
}

.cgpt{
    width: 6rem;
    height: 5rem;
     position: absolute;
    top: -2.5rem;
    left: -0.5rem;
    z-index: 999;
    rotate: 2deg;
    transition: 2s all ease;

}
.btn-signing:hover{
    .cgpt{
        top: -6rem;
        
    }

}

@keyframes load {
    20%{
        bottom : 60% ;
        opacity: 0.5;
        left : 20% ;
        text-shadow: 0 0 200px 15px red;


    }
    
}

.loading{
position: absolute;
width: 2rem;
height: 2rem;
}

main{
display: flex;
flex-direction: column;
justify-content: center;
min-height: calc(90vh - 6rem);

}
.content{
    margin-left: 10%;
    min-width: 400rem;
    z-index: 9999;

}


.tag-box{
    position: relative;
    height: 2.5rem;
    width: 18rem;
    border-radius: 50px;
    background: linear-gradient(to right, red ,green,green,blue,blue,red);
    background-size: 200%;
    animation: anim 2s linear infinite;
    
}
 
.tag-box .tag {
     color:rgb(255, 255, 255);
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  0.5s ease;
    cursor: pointer;
}

.tag .tag-box h2{
    margin-top: 4rem;
    
}
@keyframes anim {
    to{
        background-position: 200% ;
    }

}
.buttons{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;    
    
}

.desc{
    height: 2rem;
    width: 12rem;
    background: rgb(37, 169, 235);
    text-decoration: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fffdfd;
    padding: 2px;


}

.message h7{
    position: absolute;
    right: 20%;
}
.sanda{

    position: absolute;
    top: 50% ;
    right:30%;
    z-index: -999;
}
.Start{
     height: 2rem;
    width: 12rem;
    background: rgb(249, 253, 255);
    text-decoration: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #000000;
    padding: 2px;
    transition: all 0.5s ease;
}
.Start:hover{
    background: #a7a7a7;

}
@media (max-width: 1300px) {
   
    
}
@media (max-width : 768px) {body{
    overflow: hidden;
}
    
    nav a{
        display: none;
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }
    .btn-signing{
        position: absolute;
        margin-right: 4%;
    }
    .logo{
        margin-left: -23%;
        margin-top: 12%;
    }
    .htoo{
        position: relative ;
        margin-right: 15%;
        margin-top: 2%;
    }
   .sanda{
    top:29%;
    left:-28%;
   }
   .message h1{
    font-size: 0.5rem;
   }
   .message{
    position: absolute;
    font-size: 2px;
   }
   .content{
    margin-top: 20rem;
   }
   

}